<div class="intro">
  <div class="container">
    <div class="flex-container">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <%= image_tag "home_step1.png" %>
            <p class="flex-caption">
              <span class="flex-caption-step">Step 1: Find a song you like. We have plenty to go around.</span>
            </p>
          </li>
          <li>
            <%= image_tag "home_step2.png" %>
            <p class="flex-caption">
              <span class="flex-caption-step">Step 2: Leave your mark on ANY song! Add what the lyrics mean to YOU.</span>
            </p>
          </li>
          <li>
            <%= image_tag "home_step3.png" %>
            <p class="flex-caption">
              <span class="flex-caption-step">Step 3: Discuss. Vote. Rinse. Repeat.</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>