<%= render 'static_pages/intro_slider' %>

<div class="page-header centered">
  <br><h1>Get Started</h1>
</div>

<div class="row">
  <div class="span4">
    <h4>First: Find a Song</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore velit consectetur ipsa mollitia aliquid expedita a ex minima molestiae assumenda inventore.
    </p>
    <p>
      Dolore velit consectetur ipsa mollitia aliquid expedita a ex minima molestiae assumenda inventore.
    </p>
  </div>

  <div class="span4">
    <h4>Second: Leave Your Mark</h4>
    <p>
      Highlight any part of a song's lyrics and enter what it means to you.
    </p>
    <p>
      Dolore velit consectetur ipsa mollitia aliquid expedita a ex minima molestiae assumenda inventore.
    </p>
  </div>

  <div class="span4">
    <h4>Third: Get Busy</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ipsam adipisci similique velit fuga et nobis tempora assumenda soluta mollitia reiciendis culpa quos perspiciatis. Rem placeat mollitia eveniet reiciendis nesciunt?
    </p>
  </div>

</div>
