<div id="definitionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="definitionModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Define</h3>
  </div>
  <div class="modal-body">
    <div id="selectedSongLyrics"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Submit!</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>