<div class="page-header">
  <h1>View Profile <small>user</small></h1>
</div>

<h2>Email</h2>
<%= @user.email %>

<h2>Display Name</h2>
<%= @user.display_name %>

<h2>First Name</h2>
<%= @user.first_name %>

<h2>Last Name</h2>
<%= @user.last_name %>