/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flexslider
 */
@import "bootstrap";

body {
  padding-top: 40px;
}

.genres {
  overflow: auto;
  height: 100px;
  width: 200px;
}

.highlight1 {
  background-color: #FFFFCC;
}
.highlight2 {
  background-color: #FFFF99;
}

.highlight3 {
  background-color: #FFFF4D;
}

.definition-on {
  background-color: green;
}

footer {
  width: auto;
  margin-top: 91px;
  background: url(/assets/footer-bg.gif) center top repeat-x;
}

/** These are dedicated to Krust <3 **/
::selection {
  background:#A366E0;
}

::-moz-selection {
  background:#A366E0;
}

::-webkit-selection {
  background:#A366E0;
}