.masthead {
  background-color: grey;
}

.massive h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.massive h1, .massive p {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.intro {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(#F9F9F9, #F5F5F5);
  background-repeat: repeat-x;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #FFFFFF;
}

.intro .container {
  width: 940px;
}

.smaller-divider-top {
  height: 30px;
}

.divider-top {
  background: url(/assets/horizontal-top-divider.png) no-repeat scroll center bottom transparent;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.divider-bottom {
  background: url(/assets/horizontal-bottom-divider.png) no-repeat scroll center top transparent;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}